<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
        <div class="loginbackground box-background--white padding-top--64">
            <div class="loginbackground-gridContainer">
                <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
                    <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
                    </div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
                    <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
                    <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
                    <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
                    <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
                    <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
                    <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
                    <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
                </div>
                <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
                    <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
                </div>
            </div>
        </div>
        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1>Registrer bruker</h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <form id="stripe-login" [formGroup]="skjema" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label>Fornavn</label>
                                <input class="form-control" formControlName="fornavn" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('fornavn').valid && skjema.get('fornavn').touched">
                                    Fornavnet må inneholde minst to tegn
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Etternavn</label>
                                <input class="form-control" formControlName="etternavn" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('etternavn').valid && skjema.get('etternavn').touched">
                                    Etternavnet må inneholde minst to tegn
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mail</label>
                                <input class="form-control" formControlName="mail" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('mail').valid && skjema.get('mail').touched">
                                    Ugyldig mail
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Mobilnummer</label>
                                <input class="form-control" formControlName="telefonnummer" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('telefonnummer').valid && skjema.get('telefonnummer').touched">
                                    Telefon nummeret må inneholde nøyaktig 8 tall
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Velg et brukernavn</label>
                                <input class="form-control" formControlName="brukernavn" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('brukernavn').valid && skjema.get('brukernavn').touched">
                                    Brukernavnet må inneholde minst to tegn
                                </div>
                            </div>
                            <div class="form-group">
                                <label ty>Velg et passord</label>
                                <input class="form-control" type="password" formControlName="passord" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('passord').valid && skjema.get('passord').touched">
                                    Passordet må inneholde minst to tall, en stor bokstav, og være 8 bokstaver lang
                                </div>
                            </div>
                            <div class="form-group">
                                <label ty>Bekreft passord</label>
                                <input class="form-control" type="password" formControlName="bekreftPassord" />
                                <div class="alert alert-danger"
                                     *ngIf="!skjema.get('bekreftPassord').valid && skjema.get('bekreftPassord').touched">
                                    Passordet må inneholde minst to tall, en stor bokstav, og være 8 bokstaver lang
                                </div>
                            </div>
                            <div>
                                <p>{{tilbakemelding}}</p>
                            </div>
                            <div class="form-group">
                                <button class="login-btn" type="submit" [disabled]="!skjema.valid">Registrer</button>
                                <button class="login-btn" routerLink="/logginn">Tilbake</button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



