thead {
    background-color: #1E1E1E;
    color: white;
}

.headers {
    display: flex;
    margin: 1rem 0rem;
}

.headers .profile {
    margin-left: 42rem; 
}

td {
    color: black;
}

.loading, h1 {
    color: black;
}

.profile {
    display: flex;
}

.profile p {
    color: black;
    margin: 0.5rem;
}

.table td {
    color: black;
    background-color: white;
}

.table-wrapper {
    height: 60vh;
    overflow: scroll; 
}
