
.container {
    background-color: blue; 
}

.parent-w {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: red; 
}







/*
    
.wrapper {
    display: flex;
    width: 100%;
    height: 100vh; 
}

.v-wrapper {
    flex-basis: 40%; 

}

.img-wrapper {
    flex-basis: 60%; 
}

.img img {
    width: 100%;
    height: 100%; 
}



*/
