<div>
    <h1>Logg inn hos JustInvest</h1>
    <div class="wrapper">
        <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
            <table>
                <tr>
                    <td>
                        <label>Brukernavn:</label>
                    </td>
                    <td>
                        <input type="text" formControlName="brukernavn">
                        <!-- <p class="alert alert-warning" [hidden]="Skjema.controls.brukernavn.valid || (Skjema.controls.brukernavn.pristine && !submitted)">
                            Vennligst fyll ut brukernavn
                        </p>-->
                    </td>
                   
                        <td *ngIf="this.Skjema.controls.brukernavn.status=='INVALID'">
                        Obligatorisk
                    </td>
                    
                    
                </tr>
                <tr>
                    <td>
                        <label>Passord:</label>
                    </td>
                    <td>
                        <input type="password" formControlName="passord" required>
                    </td>
                    <td *ngIf="this.Skjema.controls.passord.status=='INVALID'">
                        Mellom 6 og 15 siffer
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" [disabled]="!Skjema.valid">Logg inn</button>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </form>
        <div class="img-wrapper">
            <div>
                <img src="../assets/login.png"/>
            </div>
        </div>
    </div>
</div>




