<header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light border-bottom box-shadow mb-3">
		<div class="container">
			<img class="logo" src="../assets/logo.png" />
		
			<button class="navbar-toggler"
					type="button"
					data-toggle="collapse"
					data-target=".navbar-collapse"
					aria-label="Toggle navigation"
					[attr.aria-expanded]="isExpanded"
					(click)="toggle()">
				<span class="navbar-toggler-icon bg-dark rounded"></span>
			</button>
			<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
				<ul class="navbar-nav flex-grow">
					<li class="nav-item"
						[routerLinkActive]="['link-active']"
						[routerLinkActiveOptions]="{ exact: true }">
						<a class="nav-link text-dark" routerLink="/hjem">Hjem</a>
					</li>
					<li class="nav-item"
						[routerLinkActive]="['link-active']">
						<a class="nav-link text-dark" routerLink="/portfolio">Portfolio</a>
					</li>
					<li class="nav-item"
						[routerLinkActive]="['link-active']">
						<a class="nav-link text-dark" routerLink="/transaksjonshistorikk">Transaksjoner</a>
					</li>
					<li class="nav-item bg-dark rounded"
						[routerLinkActive]="['link-active']">
						<a class="nav-link text-light" (click)="loggUt()">Logg ut</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>