<div class="container">
	<h2>   Portfolio </h2>
	<div>
		<div class="col-md-12">
			<div *ngIf="laster">Laster portfolio...</div>
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>Aksje</th>
						<th>Pris per Aksje</th>
						<th>Beholdning</th>
						<th>Sum</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody *ngFor="let portfolioRad of helePortfolio">
					<tr>
						<td>{{portfolioRad.aksjeNavn}}</td>
						<td>{{portfolioRad.aksjePris}}</td>
						<td>{{portfolioRad.antall}}</td>
						<td>{{portfolioRad.aksjePris}}</td>
						<td><button class="btn btn-success">Kjøp Mer</button></td>
						<td><button class="btn btn-danger" (click)="visSelgModal(1,portfolioRad.id)">Selg</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>