<div class="container-fluid">
	

	<div class="row">
		<div class="col">
			<h1>Portfolio</h1>
		</div>
		<div class="col">
			<div class="profile float-right">
				<div>
					<img src="../assets/hashbulla.png" />
				</div>

				<div>
					<p>(<i>{{brukernavn}}</i>) {{fornavnEtternavn}}</p>
					<p>Saldo: {{saldo}} </p>
				</div>
			</div>
		</div>
	</div>


	<div class="loading" *ngIf="laster">Laster portfolio...</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Aksje</th>
				<th>Pris per Aksje</th>
				<th>Beholdning</th>
				<th>Sum</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody *ngFor="let portfolioRad of helePortfolio">
			<tr>
				<td>{{portfolioRad.aksjeNavn}}</td>
				<td>{{portfolioRad.aksjePris}}</td>
				<td>{{portfolioRad.antall}}</td>
				<td>{{portfolioRad.aksjePris*portfolioRad.antall}}</td>
				<td><button class="btn btn-success" (click)="tilKjop(portfolioRad.aksjeId)">Kjøp Mer</button></td>
				<td><button class="btn btn-danger" (click)="tilSelg(portfolioRad.aksjeId)">Selg</button></td>
			</tr>
		</tbody>
	</table>
</div>
