thead {
	background-color: #1E1E1E;
	color: white;
}

td {
	color: black;
}

.loading, h1 {
	color: black;
}

.table td {
	color: black;
	background-color: white;
}

.table-wrapper {
	height: 80vh;
	overflow: scroll;
}

