<div class="container">
    <h1>Kjøpsordre</h1>
    <div class="ordre-container">
        <div class="aksjeinfo">
            <h3 class="form-item" id="aksjeNavn">{{aksjenavn}}</h3>
            <h4 class="form-item" id="aksjePris">Aksjepris: {{aksjepris}} NOK</h4>
            <h4 class="form-item" id="portfolioAntall">Antall ledige aksjer: {{aksjeledige}}</h4>
        </div>
        <div class="line"></div>
        <div class="bekreftelse">
            <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="profile">
                        <div>
                            <img src="../assets/hashbulla.png" />
                        </div>
                        <div>
                            <p>(<i>{{brukernavn}}</i>) {{fornavnEtternavn}}</p>
                            <p>Saldo: {{saldo}} </p>
                        </div>
                    </div>
                    <label>Vennligst skriv ned ønsket antall</label>
                    <input class="form-control" formControlName="antall" />
                    <p class="alert alert-warning" [hidden]="skjema.controls.antall.valid || (skjema.controls.antall.pristine && !submitted)">
                        Antall må være heltall, minimum 1!
                    </p>
                </div>
                <div class="form-group">
                    <button class="orderBtn" type="submit" [disabled]="!skjema.valid">Bekreft</button>
                    <button class="orderBtn" routerLink="/hjem">Tilbake</button>
                </div>
            </form>
        </div>
    </div>
</div>

